@import '../../App.scss';

.analytics{
    border: 2px dotted red;
}

.analytics-container{
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 45px;

    .section-left{
        


        h3{
            margin-top: 0;
        }

        h2{
            margin-top: 0;
            margin-bottom: 0;
            max-width: 521px;
            width: 100%;
            text-align: start;
        }

        p{
            max-width: 395px;
            margin-top: 25px;
            margin-bottom: 40px;
        }

        a{
            display: flex;
            width: 348px;
            padding: 18px 51px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}